{{template "header"}}
<title>修改启停任务 - 配置管理平台</title>
<style type="text/css">
	#execForm .row{
    			margin-bottom: 5px;
    		}
</style>
<body>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">{{template "navbar" .}}</div>
</div>
<div class="container">
	<form class="form-horizontal" id="execForm" method="post" action="/exec" enctype="multipart/form-data">
		<input type="hidden" id="eid" name="eid" value="{{.ExecId}}">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="projectName" class="control-label col-md-4">项目名:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="projectName" name="projectName" value="{{.Exec.ProjectName}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="version" class="control-label col-md-4">版本号:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="version" name="version" value="{{.Exec.Version}}"></div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="operType" class="control-label col-md-4">启停类型:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="operType" name="operType" value="{{.Exec.OperType}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="targetSer" class="control-label col-md-4">目标服务器:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="targetSer" name="targetSer" value="{{.Exec.TargetServer}}"></div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="sshUser" class="control-label col-md-4">用户名:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="sshUser" name="sshUser" value="{{.Exec.SshUser}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="sshPwd" class="control-label col-md-4">密码:</label>
					<div class="col-md-8">
						<input class="form-control" type="password" id="sshPwd" name="sshPwd" value="{{.Exec.SshPwd}}"></div>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="sshPort" class="control-label col-md-4">SSH端口:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="sshPort" name="sshPort" value="{{.Exec.SshPort}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="sshKey" class="control-label col-md-4">ssh密钥:</label>
					<div class="col-md-8">
						<input class="form-control" type="file" id="sshKey" name="sshKey" value="{{.Exec.SshKey}}"></div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="cTime" class="control-label col-md-4">创建时间:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="cTime" name="cTime" value="" readonly=""></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="operator" class="control-label col-md-4">操作人:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="operator" name="operator" value="" readonly=""></div>
				</div>

			</div>
		</div>
		<div class="row">
			<label for="remark" class="control-label col-md-2">备注:</label>
			<div class="col-md-10">
				<textarea class="form-control" id="remark" name="remark" ></textarea>
			</div>
		</div>
		<button type="submit" class="btn btn-default" style="float:right">保存</button>
	</form>
</div>
<script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
<!-- 	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
-->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/get-time-operator.js"></script>
<script type="text/javascript">
	var systime=getSysTime();
	var oper=getOper();
	$("#cTime").val(systime);
	$("#operator").val(oper);
</script>
</body>
</html>