{{template "header"}}
	<title>首页 - 配置管理平台</title>
	<style type="text/css">
		body
		{
			/*background-image:url('/static/img/login_bg.jpg');
			background-repeat:repeat-x; */
			background-color:#9ACD32;
			padding: 30px 15px 0;
		}
		h2.pos
		{
			position:relative;
			color:#E0FFFF;
			top:10px;
		}
	</style>
	<!-- </header> -->
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{{template "navbar" .}}
			</div>
		</div>
		<div>
  			<h2 class="pos">欢迎使用配置管理平台</h2>
		</div>
		<script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
<!-- 		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
 -->		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
 	</body>
</html>