{{template "header"}}
<title>修改进程信息 - 配置管理平台</title>
<style type="text/css">
	#procForm .row{
    			margin-bottom: 5px;
    		}
</style>
<body>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">{{template "navbar" .}}</div>
</div>
<div class="container">
	<form class="form-horizontal" id="procForm" method="post" action="/proc" enctype="multipart/form-data">
		<input type="hidden" id="pid" name="pid" value="{{.ProcId}}">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="projectName" class="control-label col-md-4">项目名:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="projectName" name="projectName" value="{{.Proc.PROJECT_NAME}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="version" class="control-label col-md-4">版本号:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="version" name="version" value="{{.Proc.VERSION}}"></div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="deploy_host" class="control-label col-md-4">部署主机名称:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="deploy_host" name="deploy_host" value="{{.Proc.DEPLOY_HOST}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="deploy_type" class="control-label col-md-4">进程类型:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="deploy_type" name="deploy_type" value="{{.Proc.DEPLOY_TYPE}}"></div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="deploy_name" class="control-label col-md-4">进程目录名:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="deploy_name" name="deploy_name" value="{{.Proc.DEPLOY_NAME}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="shell_name" class="control-label col-md-4">SHELL名称:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="shell_name" name="shell_name" value="{{.Proc.DEPLOY_SHELL_NAME}}"></div>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="mem_args" class="control-label col-md-4">JVM内存参数:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="mem_args" name="mem_args" value="{{.Proc.DEPLOY_MEM_ARGS}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="appframe_key" class="control-label col-md-4">APPFRAME_KEY:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="appframe_key" name="appframe_key" value="{{.Proc.DEPLOY_APPFRAME_KEY}}"></div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="appframe_value" class="control-label col-md-4">APPFRAME_VALUE:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="appframe_value" name="appframe_value" value="{{.Proc.DEPLOY_APPFRAME_VALUE}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="shell_params" class="control-label col-md-4">JAVA-D参数:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="shell_params" name="shell_params" value="{{.Proc.DEPLOY_SHELL_PARAMS}}"></div>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="startup_class" class="control-label col-md-4">启动类名:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="startup_class" name="startup_class" value="{{.Proc.DEPLOY_STARTUP_CLASS}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="parameter_value" class="control-label col-md-4">启动参数:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="parameter_value" name="parameter_value" value="{{.Proc.DEPLOY_PARAMETER_VALUE}}"></div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="exedatasource" class="control-label col-md-4">可选数据库:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="exedatasource" name="exedatasource" value="{{.Proc.EXEDATASOURCE}}"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="exerelat" class="control-label col-md-4">EXE_RELAT:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="exerelat" name="exerelat" value="{{.Proc.EXERELAT}}"></div>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label for="create_time" class="control-label col-md-4">注册时间:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="create_time" name="create_time" value="" readonly=""></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="operator" class="control-label col-md-4">操作人:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="operator" name="operator" value="" readonly=""></div>
				</div>

			</div>
		</div>
		<div class="row">
			<label for="remark" class="control-label col-md-2">备注:</label>
			<div class="col-md-10">
				<textarea class="form-control" id="remark" name="remark" ></textarea>
			</div>
		</div>
		<button type="submit" class="btn btn-default" style="float:right">保存</button>
	</form>
</div>
<script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
<!-- 	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
-->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/get-time-operator.js"></script>
<script type="text/javascript">
	var systime=getSysTime();
	var oper=getOper();
	$("#create_time").val(systime);
	$("#operator").val(oper);
</script>
</body>
</html>