{{template "header"}}
<title>权限管理 - 配置管理平台</title>
<style type="text/css">
    		#sec_container th{
    			white-space: nowrap;
    			text-overflow: ellipsis;
    		}

    		#secModal .row{
    			margin-bottom: 5px;
    		}

    		#secModal .modal-dialog{
    			width: 800px;
    		}

    		.table td{
    			white-space: nowrap;
    			text-overflow: ellipsis;
    		}

    		#alert_tip{
    			width: 500px;
    			margin: 50px auto 0;
    		}
    		.pagination{
				margin: 0px 0px 20px 0px;
			}
			#searchForm .row{
    			margin-bottom: 5px;
    		}
    	</style>
<body>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">{{template "navbar" .}}</div>
</div>
<div class="modal fade" id="secModal" tabindex="-1" role="dialog" aria-labelledby="secModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="secModalLabel">增加权限</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="secForm" method="post" action="/sec" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<label for="roleName" class="control-label col-md-4">角色名:</label>
								<div class="col-md-8">
									<input class="form-control" type="text" id="roleName" name="roleName"></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<label for="operID" class="control-label col-md-4">操作ID:</label>
								<div class="col-md-8">
									<input class="form-control" type="text" id="operID" name="operID"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<label for="dplStatus" class="control-label col-md-4">显示状态:</label>
								<div class="col-md-8">
									<input class="form-control" type="text" id="dplStatus" name="dplStatus"></div>
							</div>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="sec_container" class="container">
	<h1>权限列表</h1>
	<div class="container">
	<form class="form-horizontal" id="searchForm" role="form" >
		<input type="hidden" id="p" name="p" value="1">
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<label for="sRoleName" class="control-label col-md-4">角色名:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" style="width:150px;" id="sRoleName" name="sRoleName"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<label for="sOperID" class="control-label col-md-4">操作ID:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" style="width:150px;" id="sOperID" name="sOperID"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<label for="sDplStatus" class="control-label col-md-4">显示状态:</label>
					<div class="col-md-8">
						<input class="form-control" type="text" style="width:150px;" id="sDplStatus" name="sDplStatus"></div>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" style="position: absolute;
				right: 178px;" >查询</button>
	</form>
	
</div>
	<button type="submit" class="btn btn-default fx-option-btn" data-toggle="modal" data-target="#secModal" data-value="add">添加</button>
	<button type="submit" class="btn btn-default fx-option-btn" data-value="update">修改</button>
	<button type="submit" class="btn btn-default fx-option-btn" data-value="delete" >删除</button>
	<table class="table table-striped">
		<thead>
			<tr>
				<!-- <th class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px;" data-field="state" tabindex="0">
					<div class="th-inner ">
						<input name="checkAll" type="checkbox"></div>
					<div class="fht-cell" style="width: 35px;"></div>
				</th> -->
				<!-- <th>#</th> -->
				<th>角色名</th>
				<th>操作ID</th>
				<th>显示状态</th>
			</tr>
		</thead>
		<tbody>
			{{range $index, $elem := .secs}}
			<tr data-object="{{$elem}}">
				<td class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px;"  data-field="state" tabindex="0">
					<div class="th-inner ">
						<input name="checkItem" type="checkbox" data-id="{{.SecId}}"/></div>
					<div class="fht-cell" style="width: 35px;"></div>
				</td>
				<!-- <td>{{.SecId}}</td> -->
				<td>{{.RoleName}}</td>
				<td>{{.OperID}}</td>
				<td>{{.DplStatus}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
	{{template "pagination" .}}
	<div id="alert_tip" class="alert alert-warning alert-dismissable" style="display:none;">
	<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">&times;</button>
	警告！请选择。
	</div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.11.1.js"></script>
<!-- 	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
-->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-paginator.min.js"></script>
<script type="text/javascript" src="/static/js/get-time-operator.js"></script>

<script>	
	$('button.fx-option-btn').on('click', function () {
		var role = $(this).data('value'),currentRowDataId;
		
		switch (role) {
			case 'update':
				currentRowDataId = $('input[name="checkItem"]').filter(':checked').data('id');
				if(!currentRowDataId){
					$('#alert_tip').show();
					setTimeout(function () {
						$('#alert_tip').hide();
					}, 5000);
					return;
				}
				window.location="/sec/modify?sid=" + currentRowDataId;
				break;
			case 'delete': 
				var allCheckedCheckbox = $('input[name="checkItem"]').filter(':checked'),
					idsStr = '';
				allCheckedCheckbox.each(function (i, chkItem) {
					idsStr += $(chkItem).data('id') + ',';
				});
				idsStr = idsStr.substring(0, idsStr.length - 1);
				if(!idsStr){
					$('#alert_tip').show();
					setTimeout(function () {
						$('#alert_tip').hide();
					}, 5000);
					return;
				}
				window.location="/sec/delete?sid=" + idsStr;
				break;
		}
	});
	initCheckbox();

	/*paginator*/
	$(function () {
    $("#page").bootstrapPaginator({
      currentPage: '{{.PageNo}}',
      totalPages: '{{.TotalPage}}',
      bootstrapMajorVersion: 3,
      size: "small",
      onPageClicked: function(e,originalEvent,type,page){
        window.location.href = "/sec?p=" + page+ "&sRoleName="+
        "{{.SroleName}}" +"&sOperID=" + "{{.SoperID}}" +
        "&sDplStatus="+"{{.SdplStatus}}"
      }
    });
  });
</script>
</body>
</html>